* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    /* This keep horizontal overflow hidden but allow vertical scrolling */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    /* Ensure padding so content stays aligned */
    padding: 20px;
    /* Minimum height to fill the viewport */
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    /* This disables scrolling the webpage(s)
    overflow: hidden;
    */
    background: #7cc4a8;
}

.title {
    /* Centers the text */
    text-align: center;
    /* Adds space below the title */
    margin-bottom: 15px;
    margin-top: 55px;
    font-size: 25px;
    font-weight: 700;
}

/* NAVIGATION SECTION */
nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* Centers them horizontally */
    justify-content: space-around;
    /* Centers them vertically */
    align-items: center;
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span {
    color: black;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-left: 800px;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: black;
    /*text-decoration removes underlines*/
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

/* STUDY THIS */
.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(17, 100, 80);
    transition: 0.2s linear;
}

/* STUDY THIS */
.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .resume-btn {
    background-color: rgb(17, 100, 80);
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid rgb(17, 100, 80);
    transition: 0.3s linear;
}

.nav-container .resume-btn a {
    color: rgba(255, 255, 255, 0.959);
    transition: 0.3s linear;
}

.nav-container .resume-btn:hover,
.nav-container .resume-btn:hover a {
    background-color: rgb(97, 224, 171);
    color: white;
}

.nav-container .links a:hover {
    color: rgb(17, 100, 80);
}

/* this is built-in dropdown component style
.dropdown{
z-index: 100;
position: absolute;
top: 0;
transform: translateY(0px);
width: 100%;
height: auto;
backdrop-filter: brightness(40%) blur(3px);
box-shadow: 0 0 20px black;
transition: 0.2s linear;
}

dropdown .links a{
color: white;
display: flex;
text-decoration: none;
justify-content: center;
padding: 15px 0;
align-items: center;
transition: 0.2s linear;
}

.dropdown .links a:hover{
background-color: blue;
}
*/

/* NEXT PART: HOME */
#home {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* This evenly gives spaces between classes */
    justify-content: space-evenly;
    align-items: center;
}

/*STUDY*/
.main-container .image {
    z-index: -1;
    width: 20%;
}

.main-container .image img {
    width: 530px;
    /* Adjust size as needed */
    height: 600px;
    /* Ensure a perfect circle */
    border-radius: 50%;
    /* Makes it circular */
    border: 5px solid #2a442b;
    /* Add a green border */
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2);
    /* Adds depth */
    object-fit: cover;
    /* Ensures the image fills the frame */
}

/* This controls the content's container (picture and text) */
.main-container .content {
    color: black;
    width: 20%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content .developer {
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
    min-width: 280px;
}

.content .developer span {
    position: relative;
    transition: 0.3s linear;
}

/*STUDY*/
.developer span::before {
    content: "Developer";
    color: #000302;
    animation: words 20s infinite;
}

/*STUDY*/
.developer span::after {
    content: "";
    background-color: #7cc4a8;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgba(23, 241, 70, 0.301);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

/*STUDY*/
@keyframes cursor {
    to {
        border-left: 2px solid #000302
    }
}

/*STUDY*/
@keyframes words {

    0%,
    20% {
        content: "Web Developer";
    }

    21%,
    40% {
        content: "Creator";
    }

    41%,
    60% {
        content: "Designer"
    }

    61%,
    80% {
        content: "Software Engineer"
    }

    81%,
    100% {
        content: "Data Analyst"
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80% {
        width: calc(100% + 8px);
    }
}

/* this controls the icon and creates a circle around the icons */
.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(21, 117, 42);
    border-radius: 50%;
    color: rgb(14, 87, 32);
    font-size: 1.5rem;
    margin: 5px 10px;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: white;
    background-color: rgba(172, 235, 157, 0.411);
    /* This lights up the icon */
    filter: drop-shadow(0 0 10px);
}

/* this controls the button and creates a box around the button */
.content button {
    width: 40%;
    height: 5.5vh;
    margin: 5px;
    background-color: rgba(22, 65, 11, 0.699);
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 650;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: rgba(172, 235, 157, 0.411);
    border: 2px solid rgba(172, 235, 157, 0.411);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgba(172, 235, 157, 0.411);
}

/* NEXT PART: ABOUT SECTION */
.small-box {
    width: 1000px;
    height: 400px;
    background-color: rgba(65, 138, 65, 0.432);
    position: relative;
    margin: auto;
    border-radius: 30px;
    top: 50%;
}

.heading {
    font-size: 0.3rem;
    font-weight: 600;
}

.content-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.about .content .paragraph-text {
    font-size: 1.5rem;
    padding: 70px;
}

/* NEXT PART: SKILLS SECTION */
.skills .title .content-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 100px;
}

.skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 100px;
}

.skills .content .col-left {
    position: relative;
    width: 55%;
}

.skills .content .col-left .content-title {
    margin-bottom: 20px;
}

.skills .content .col-right {
    position: relative;
    width: 35%;
}

.skills .content .col-right .bar {
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 2px;
}

.skills .content .col-right .bar .line::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.skills .content .col-right .bar .html::before {
    width: 78%;
    background-color: #12aabe;
}

.skills .content .col-right .bar .css::before {
    width: 55%;
    background-color: #1850b9;
}

.skills .content .col-right .bar .cpp::before {
    width: 95%;
    background-color: #b8ae24;
}

.skills .content .col-right .bar .sql::before {
    width: 84%;
    background-color: #c2da57;
}

.skills .content .col-right .bar .python::before {
    width: 69%;
    background-color: #db2941;
}

.skills .content .col-right .bar .c::before {
    width: 75%;
    background-color: #bd29db;
}

.skills .content .col-right .bar .typescript::before {
    width: 55%;
    background-color: #061e61;
}

/* EDUCATION SECTION */
.heading {
    font-size: 4.5rem;
    text-align: center;
    margin: 5rem 0;
}

/* This creates the section display in background color */
.education {
    padding: 100px 15px;
    background: rgb(58, 134, 75);
}

.education h2 {
    margin-bottom: 5rem;
}

.education .timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.education .timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #7fe9c0;
    left: calc(50% - 1px);
}

.education .timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.education .timeline-item:last-child {
    margin-bottom: 0;
}

.education .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.education .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.education .timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #7fe9c0;
    box-shadow: 0 0 25px #7fe9c0,
        0 0 50px #7fe9c0;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.education .timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.education .timeline-content {
    background-color: #56ac8b;
    border: 3px solid #7fe9c0;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #7fe9c0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.education .timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #7fe9c0;
}

.education .timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.education .timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #7fe9c0;
}

::-webkit-scrollbar-track {
    background-color: #56ac8b;

}

/* PROJECT SECTION */
/* This creates the section display in background color */
.projects {
    padding: 100px 15px;
    background: rgb(58, 134, 75);
}

/* FOOTER SECTION */
.footer {
    padding: 5px 10px;
    background: rgb(58, 134, 75);
}

/* This controls when mobile or when screen is windowed */
@media (max-width:884px) {
    body {
        overflow-y: visible;
    }

    /* Title */
    .heading {
        font-size: 4rem;
        font-weight: 700;
    }

    /* Navigation */
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .nav-container .links {
        display: none;
    }

    /* Home */
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .developer span {
        position: relative;
        width: 100%;
    }

    .developer span::before {
        white-space: nowrap;
        /* Ensures text stays on one line */
        display: inline-block;
        /* Prevents wrapping issues */
    }

    .main-container .image img {
        width: 350px;
        /* Adjust size as needed */
        height: 370px;
        /* Ensure a perfect circle */
        border-radius: 50%;
        /* Makes it circular */
        border: 5px solid #2a442b;
        /* Add a green border */
        box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2);
        /* Adds depth */
        object-fit: cover;
        /* Ensures the image fills the frame */
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        width: 100%;
        margin-bottom: 50px;
    }

    .home .content {
        position: relative;
        width: 100%;
    }

    /* About */
    .about .content .small-box {
        position: relative;
        width: 100%;
        top: -25px;
    }

    .about .content .paragraph-text {
        position: relative;
        font-size: 1.1rem;
        padding: 25px;
        top: 15px;
    }

    /* Skills */
    .skills .content {
        flex-direction: column;
    }

    .skills .content .column {
        position: relative;
        width: 100%;
    }

    .skills .content .col-right {
        margin-top: 25px;
    }
}